

.wrap {
	max-width: 1350px;
	margin: 0 auto;
}

.content {

}

.content-narrow {
	padding: 40px 20px;
	max-width: 900px;
	margin: 0 auto;
	@extend .content-style;
}

.content-wide {
	@include clearfix;
	padding: 40px 20px;
	@extend .content-style;
}

.content-header {
	@include clearfix;
	padding: 10px 20px;
	@extend .content-style;

	@include respond-to( 768px ) {
		padding: 10px 40px;
	}
}

.content-two-column {
	@include clearfix;
	@extend .content-style;
	padding-bottom: 40px;
}


.fluid-width-video-wrapper {
	margin: 15px 0;
}


.quarter, .third, .half, .two-third, .three-quarter, .three-fifth, .two-fifth {
	padding: 20px;
}

@include respond-to( 768px ) {
	.quarter, .third, .half, .two-third, .three-quarter, .twenty, .thirty, .three-fifth, .two-fifth {
		float: left;

		&.right {
			float: right;
		}
	}

	.quarter {
		width: 22.5%;
		margin: 0 1%;
	}

	.third {
		width: 31%;
		margin: 0 1%;
	}

	.two-third {
		width: 65%;
		margin: 0 1%;
	}

	.three-quarter {
		width: 73%;
		margin: 0 1%;
	}

	.twenty {
		width: 18%;
		margin: 0 1%;
	}

	.thirty {
		width: 28%;
		margin: 0 1%;
	}

	.two-fifth {
		width: 38%;
		margin: 0 1%;		
	}

	.three-fifth {
		width: 58%;
		margin: 0 1%;
	}
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}


// include the old grid
@include respond-to( 768px ) {
	.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
		float: left;
		margin: 0 3% 0 0;

		.people {
			padding: 10px 0;
		}
	}

	.col1.last, .col2.last, .col3.last, .col4.last, .col5.last, .col6.last, .col7.last, .col8.last, .col9.last, .col10.last, .col11.last, .col12.last {
		 margin: 0;
	}
	
	.col1 {
	width: 5.5%; }

	.col2 {
	width: 14%; }

	.col3 {
	width: 22.5%; }

	.col4 {
	width: 31%; }

	.col5 {
	width: 39.5%; }

	.col6 {
	width: 48%; }

	.col7 {
	width: 56.5%; }

	.col8 {
	width: 65%; }

	.col9 {
	width: 73.5%; }

	.col10 {
	width: 82%; }

	.col11 {
	width: 90.5%; }

	.col12 {
	width: 99%;
	margin: 0; }

	.col12 .sectionExpand {
	padding-top:15px;
	}

	.col12.staff {
	border-top: 1px dotted #60605b;
	border-bottom: 1px dotted #60605b;
	padding: 20px 0px;}

	.col12.speaker, .col12.champion {
	border-bottom: 1px dotted #60605b;
	padding: 20px 0px;}

}


table {
	width: 100%;

	tr {
		td {
			vertical-align: top;
			padding: 6px 10px;
		}
	}
}


.content-style {
	ol, ul {
		padding: 5px 0 5px 35px;

		li {
			padding: 3px 0;
		}

		&.gform_fields {
			padding: 5px 0;
		}
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	h1, h2, h3, h4, h5, h6 {
		font-style: italic;
		color: $navy;
		padding: 10px 0 5px;
	}

	h2 {
		color: $grey-dark;
	}

	h3 {
		color: $navy;
	}

	h5 {
		color: $gold;
	}

	blockquote {
		padding: 10px 25px;
		font-style: italic;
		font-size: 1.2em;
		line-height: 1.5em;
		color: $grey;
		border-left: 3px solid lighten( $grey, 25% );
		margin: 10px 0 10px 20px;
	}

	hr {
		border: 0;
		border-bottom: 1px solid lighten( $grey, 25% );
		padding: 0;
		margin: 25px 0;
	}

	a.button-gold {
		display: block;
		padding: 20px;
		background: $gold;
		color: white;
		transition: opacity 400ms ease-in-out;
		font-size: 1.3em;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		border-radius: 3px;

		&:hover {
			opacity: .8;
		}

		@include respond-to( 768px ) {
			padding: 30px;
		}
	}
	
	img {
		&.alignleft {
			float: left;
			margin: 0 10px 10px 0;
		}

		&.alignright {
			float: right;
			margin: 0 0 10px 10px;
		}
		
		&.aligncenter {
			display: block;
			margin: 0 auto;
		}
	}

	.btn-arrow {
		background: $river;
		padding: 12px 35px 12px 20px;
		background-image: url(../img/icon-arrow-white-right.png);
		background-position: right center;
		background-repeat: no-repeat;
		color: white;
		font-size: .9em;
		margin: 3px 10px 3px 0;

		&:hover {
			text-decoration: none;
			opacity: .9;
		}
	}
}

