

.cuobsessed-title {
	background: url(../img/bg-brushed.png) center center no-repeat;
	background-size: cover;

	.wrap {
		position: relative;
		padding: 20px;

		@include respond-to( 768px ) {
			padding: 30px 230px 30px 20px;
		}
	}

	h2 {
		color: $navy;
		font-style: italic;
	}

	.cuobsessed-logo {
		display: block;
		margin: 5px auto;

		@include respond-to( 768px ) {
			position: absolute;
			top: 5px;
			right: 20px;
		}

		@include respond-to( 1024px ) {
			top: 0;
			right: 40px;
		}
	}
}


.cuobsessed-post {
	.size-post-thumbnail {
		float: right;
		max-width: 24%;
		margin: 0 0 0 20px;
	}

	.quiet {
		padding: 0;
	}
}

