



.subscription-toggle {
	@extend .btn-arrow;
	float: right;
}

#bbpress-forums {
	font-size: 1em;

	div.bbp-topic-content a.subscription-toggle, #bbpress-forums div.bbp-reply-content a.subscription-toggle {
		line-height: 1.4em;
	}
}