

.browse-by {
	background: #eee;
	
	.browse-by-filters {
		display: none;
		padding-top: 10px;
	}

	.quarter {
		padding: 0 20px;

		@include respond-to( 768px ) {
			padding: 20px 20px 0;
		}
	}

	label {
		display: block;
		font-size: .9em;
	}

	.filter-button {
		text-align: left;
		padding: 0;

		@include respond-to( 768px ) {
			padding: 0;
		}

		input[type=submit] {
			padding: 8px 20px;
			font-family: Arial;
			display: inline-block;
			background: $grey;
			color: white;
			font-size: 15px;
			margin: 5px 0 0 35px;
			border: 0;
			cursor: pointer;

			&:hover {
				background: lighten( $grey, 7.5% );
			}
		}
	}

	a.browse-by-handle {
		display: block;
		text-align: center;
		padding: 12px 0;
		color: $grey;
		font-size: .8em;
		text-transform: uppercase;
		font-weight: bold;
	}
}


.home-list {
	padding: 20px;
	@include clearfix;

	@include respond-to( 768px ) {
		padding: 40px 20px;
	}

	.entry {
		padding: 0 0 20px 0;

		@include respond-to( 768px ) {
			float: left;
			padding: 10px;

			& {
				width: 33.33%;
			}

			&:nth-child(1) {
				width: 70%;
			}

			&:nth-child(2), &:nth-child(3) {
				width: 30%;
			}

			&:nth-child(3) {
				float: right;
			}
			
			&:nth-child(4) {
				clear: both;
			}

			&:nth-child(4), &:nth-child(5) {
				width: 50%;
			}

			&:nth-child(6), &:nth-child(9), &:nth-child(12), &:nth-child(15), &:nth-child(18) {
				clear: left;
			}
		}

		img {
			width: 100%;

			@include respond-to( 768px ) {
				border: 1px solid $grey-dark;
				border-bottom: 0;
			}
		}

		h3 {
			@include font;
			font-style: normal;
			font-size: 1.1em;
			// padding-left: 40px;
			position: relative;
			padding-left: 5px;
			padding-right: 10px;

			@include respond-to( 768px ) {
				padding-right: 0;
			}
			
			/*
			&:before {
				content: '';
				position: absolute;
				top: 10px;
				left: 10px;
				width: 20px;
				height: 20px;
				background: $green;
				border-radius: 10px;
			}
			*/
		}
		/*
		&.priority-1 h3:before { background: #e9dc07; }
		&.priority-2 h3:before { background: #e40d0d; }
		*/

		p {
			font-size: .85em;
			padding-left: 5px;

			@include respond-to( 768px ) {
				padding: 7px 0 7px 5px;
			}
		}

		.entry-image {
			position: relative;
			min-height: 46px;

			.post-edit-link {
				position: absolute;
				top: 5px;
				right: 5px;
				background: white;
				color: $grey-dark;
				padding: 7px 12px;
				border-radius: 4px;
				z-index: 20;
				opacity: .7;
				font-size: .8em;
				text-transform: uppercase;

				&:hover {
					opacity: 1;
					text-decoration: none;
				}
			}

			.post-category {
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
				padding: 14px;
				font-size: 18px;
				line-height: 18px;
				color: white;
				z-index: 10;
			}
		}
	}

}


.home-list-small {
	padding: 0;
	@include clearfix;

	ul {
		padding: 10px 0;
	}

	@include respond-to( 768px ) {
		padding: 0 0 8px 0;
		margin-left: -10px;
	}

	.entry {
		padding: 0 0 20px 0;

		@include respond-to( 768px ) {
			float: left;
			padding: 10px;

			& {
				width: 33.33%;
			}

			&:nth-child(4), &:nth-child(7), &:nth-child(10), &:nth-child(13), &:nth-child(16) {
				clear: left;
			}
		}

		img {
			width: 100%;
		}

		h3 {
			@include font;
			font-style: normal;
			font-size: 1.1em;
			// padding-left: 40px;
			position: relative;
			padding-right: 10px;
		
			a {
				text-decoration: none;
			}

			@include respond-to( 768px ) {
				padding-right: 0;
			}
		}

		p {
			font-size: .85em;
			padding: 7px 20px 7px 40px;

			@include respond-to( 768px ) {
				padding: 7px 0;
			}
		}

		.entry-image {
			position: relative;
			min-height: 46px;

			.post-edit-link {
				position: absolute;
				top: 5px;
				right: 5px;
				background: white;
				color: $grey-dark;
				padding: 7px 12px;
				border-radius: 4px;
				z-index: 20;
				opacity: .7;
				font-size: .8em;
				text-transform: uppercase;

				&:hover {
					opacity: 1;
					text-decoration: none;
				}
			}

			.post-category {
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
				padding: 14px;
				font-size: 18px;
				line-height: 18px;
				color: white;
				z-index: 10;
			}
		}
	}

}


.home-events {
	.event-list {
		padding-left: 40px;

		@include respond-to( 768px ) {
			padding-left: 0;
		}
	}

	h4 {
		font-size: .9em;
		line-height: 1.4em;
		@include font;
		font-style: normal;
	}

	.date {
		color: $grey;
		font-size: .8em;
	}
}


.pagination {
	border-top: 1px solid lighten( $grey, 30% );
	padding: 15px 0;
	text-align: center;
	font-size: 15px;
	line-height: 15px;
	background: lighten( $grey, 35% );
	@include font;

	@include respond-to( 768px ) {
		padding: 40px 0;
	}

	a {
		padding: 7px 12px;
		background: $grey;
		color: white;
		text-decoration: none;
		display: inline-block;

		&:hover {
			background: lighten( $grey, 5% );
		}
	}

	.current {
		padding: 7px 12px;
		display: inline-block;
		background: lighten( $grey, 5% );
	}
}

