

.large-title {
	padding: 20px;
	
	@include respond-to( 900px ) { padding: 30px; }

	.wrap {
		position: relative;
	}	

	.large-title-icon {
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -30px;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		padding: 5px;
		border: 3px solid white;

		img {
			display: block;
		}

		@include respond-to( 768px ) { 
			width: 80px;
			height: 80px;
			margin-top: -40px;
		}

		@include respond-to( 900px ) { 
			width: 100px;
			height: 100px;
			margin-top: -50px;
		}
	}

	.large-title-text {
		margin: 0 0 0 30px;
		padding: 20px 20px 20px 40px;
		border: 3px solid white;

		@include respond-to( 480px ) { 
			margin: 0 30px;
		}
		@include respond-to( 768px ) { 
			margin: 0 40px;
			padding: 30px 30px 30px 60px; 
		}
		@include respond-to( 900px ) { 
			margin: 0 50px;
			padding: 30px 30px 30px 70px; 
		}

		h1 {
			color: white;
			font-style: italic;
			line-height: 1.1em;
			font-size: 20px;

			@include respond-to( 480px ) { font-size: 30px; }
			@include respond-to( 768px ) { font-size: 40px; }
			@include respond-to( 900px ) { font-size: 50px; }
		}
	}
}

